<h1>
    Marvellous Infosystems Add new Batche
</h1>
<form  method="post">
    <p>
        <label>Batch Name</label>
        <input value="" name=batchname>
        <br>
        <label>Batch Fees</label>
        <input value="" name=batchfees>
        <br>
        <button type="submit">Add Batch</button>
    </p>
</form>