<h1>
    Marvellous Infosystems Batches
</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Fees</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.fees}}</td>
    </tr>
    {{/each}}
</table>